/*css about*/

body {
  font-family: "Lacquer", cursive;
  /* background-image: url(../img/bg1.png); */
  background-color: #1a5186;
  background-size: cover;
  font-size: 20px;
  height: 100vh;
  margin: 0;
  padding: 0;
}


.wrapper {
  width: 95%;
  margin: auto;
  margin-top: 7rem;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  color: aliceblue;
  font-family: "Noto Serif TC", serif;
  background-size: cover;
}

h2 {
  font-family: "Lacquer", cursive;
  color: #f27781;
  font-size: 40px;
}

/* nav */

nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #030f1d;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
nav a {
  font-size: 2rem;
  text-decoration: none;
  color: #77e7fe;
}
/* article section */
section {
  margin-bottom: 0.3rem;
  display: flex;
  flex-flow: column nowrap;
}
article img {
  float: left;
  margin: 0 1rem 1rem 0;
  border-radius: 1rem;
  box-sizing: 100px 100px;
}

/*gallery*/
.gallery-map {
  display: none;
  max-height: 600px;
}

.active {
  display: block;
}

.maps-gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.btns {
  margin: 1rem 0 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #0074d9;
  color: white;
  font-size: 20px;
  padding: 5px 20px;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.prev {
  margin-right: 15px;
}

.btn:disabled {
  background-color: #666;
  cursor: not-allowed;
  display: none;
}
/* footer */
footer {
  text-align: center;
  background-color: #13406e;
}
footer ul {
  list-style-type: none;
}
footer li {
  display: inline-block;
}
footer a {
  text-decoration: none;
}
.footer-links {
  color: #77e7fe;
}
.site-map {
  padding-top: 5px;
}
