html {
  box-sizing: border-box;
}
body {
  font-family: "Lacquer", cursive;
  background-image: url(../img/bg1.png);
  background-size: cover;
  font-size: 20px;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.content{
  height: 100vh;
}

/* nav */

nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #030f1d;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
nav a {
  font-size: 2rem;
  text-decoration: none;
  color: #77e7fe;
}
nav a:hover {
  font-size: 2rem;
  text-decoration: none;
  color: #00d5ff;
}

/* footer */

footer {
  text-align: center;
  background-color: #13406e;
  margin-bottom: 10px;
}
footer ul {
  list-style-type: none;
}
footer li {
  display: inline-block;
}
footer a {
  text-decoration: none;
}
.footer-links {
  color: #77e7fe;
}
.footer-links:hover {
  color: #00d5ff;
}
.site-map{
  padding-top: 5px;
}
.footer-icons{
  margin: 0;
  padding-bottom: 10px;
}

/* card style */
.card-wraper {
  display: flex;
  justify-content: center;
}
.card {
  height: 500px;
  width: 500px;
  cursor: pointer;
  align-items: center;
  background-image: linear-gradient(to bottom right, #1a5186, #041a30);
  border-radius: 25px;
  -webkit-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 140px 90px 90px 90px;
  padding: 50px;
}
.card:hover {
  align-items: center;
  background-image: linear-gradient(to bottom right, #041a30, #1a5186);
  border-radius: 25px;
  -webkit-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 140px 90px 90px 90px;
  padding: 50px;
}
.profile-image {
  border-radius: 50%;
  color: white;
  font-size: 32px;
  height: 180px;
  margin: 50px;
  width: 180px;
}
h1,
h2 {
  justify-content: center;
  display: flex;
  color: #030e1a;
}
