html {
  box-sizing: border-box;
}
body {
  font-family: "Lacquer", cursive;
  font-size: 20px;
  height: 100vh;
  margin: 0;
  padding: 0;
}
/* nav */


/* footer */
footer {
}
footer ul {
}
footer li {
}
/* card style */
.card {
  align-items: center;
  background-image: linear-gradient(to bottom right, orange, blue);
  border-radius: 25px;
  -webkit-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 90px;
  padding: 50px;
}
.card:hover {
  align-items: center;
  background-image: linear-gradient(to bottom right, orange, #84de37);
  border-radius: 25px;
  -webkit-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 90px;
  padding: 50px;
}
.profile-image {
  background-color: black;
  border-radius: 50%;
  color: white;
  font-size: 32px;
  height: 180px;
  margin: 50px;
  width: 180px;
}
h1,
h2 {
  justify-content: center;
  display: flex;
}
