/*css contact*/
* {
  box-sizing: border-box;
}

body {
 
  font-family: 'Lacquer', cursive;
  font-size: 20px;
  height: 30vh;
  margin: 0;
  padding: 0;
  background-image: url(./img/backgrowndcontact1.jpg); 
  background-size: cover;
  
}
fieldset {
  margin: 10px;
  margin-top: 50px;
  color: greenyellow; 
 
  
  
}
section {
  margin-top: 5rem;
  flex-basis: 30%;
  margin-right: 0%;}
 
  legend{
    font-size: 30px;
  }
  

.wrapper {
  width: 90%;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
 
}

nav {
 
  position: fixed;
  top: 0;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  padding-top: 10px;
  
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
nav li {
  display: inline-block;
}
nav a {
  text-decoration: none;
  color: #1564EB;
  display: block;
  padding: 0.5rem 4rem;
}
nav a:hover {
  
  color: #84DE37;
  font-size: 50px;
  font-weight: 1000;
}
button:disabled{
  margin: 2rem 0;
  color:gray;
	border: none;
	font-size: 1rem;
	padding: 0.5rem 1rem;
  border-radius: 10px;
}
}
button {
	margin: 2rem 0;
	background-color: greenyellow;
	color: black;
	border: none;
	font-size: 1rem;
	padding: 0.5rem 1rem;
  border-radius: 10px;
}
/*button:hover {
  background-color:blue;
}*/

footer {
  padding: 1rem 0 3rem 0;
  text-align: center;
  font-size: 0.8rem;
  border-top: 1px solid #A61F11;
  background: white;
  
  
  }
  footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  }
  footer li {
  display: inline-block;
  }
  
